* {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
}

.canvas-container {
    height: 100vh;
}

.options {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.download {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%);
}

canvas {
    background-color: white;
}