* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.canvas-container {
    height: 100vh;
    position: relative;
    padding: 20px;
}

.options {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}

.download {
    position: fixed;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

p {
    margin: 0;
}